/* H5轮播图设置*/
.aui-banner-content {
	overflow-x: hidden;
	width: 100%;
	position: relative;
}

.aui-banner-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	position: relative;
	z-index: 1;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.aui-banner-pagination {
	position: absolute;
	width: 100%;
	z-index: 2;
	left: 0;
	bottom: .5rem;
	pointer-events: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.aui-banner-wrapper-item {
	width: 100%;
	height: 100%;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.slider-pagination-item {
	margin: 0 .3rem;
	width: 14px;
	height: 3px;
	display: inline-block;
	background-color: #fff;
}

.slider-pagination-item.slider-pagination-item-active {
	background:#eb6106;
}

.aui-banner-wrapper-item img {
	width: 100%;
	background-size: cover;
}

.aui-header-center-clear {
	width: 100%;
	margin-left: 13%;
}
